/* ==========================================================================
   BASE Styles
   ========================================================================== */
/* Typography */
html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
}

/*srollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #0066cc;
  height: 50px;
  border-radius: 50%;
}

/* components */
.cta-btn {
  border: none;
  outline: none !important;
  font-size: 25px;
  padding: 10px 50px;
  border-radius: 36px;
  cursor: pointer;
}

.cta-btn--orange {
  background-color: #FA7F08;
  color: #fff;
}

.cta-btn--blue {
  background-color: #0066cc;
  color: #fff;
}

/* normal button style */
.btn--shine {
  overflow: hidden;
  position: relative;
}

/* button hover style if required */
/* generated element for shine effect.
 * normal state is semi-transparent
 * white but with zero width. Set no
 * transition here for no mouse-leave
 * animations. Otherwise the effect
 * will play in reverse when your mouse
 * leaves the element
 */
.btn--shine:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: none;
}

/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out 
 */
.btn--shine:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease-out;
}

/* preloader*/
#mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.95;
  /* you can change color of mask here*/
  background: #f3f3f3;
  z-index: 999999;
  /* makes sure it stays on top */
}

#laoding_text {
  display: block;
  position: absolute;
  font-family: sans-serif,arial;
  top: calc(50% + 50px);
  left: -50%;
  transform: translateX(-50%);
  animation: slideInLeft .6s ease-in  forwards;
  padding: 2px 0;
  color: #0066cc;
  font-style: italic;
}

#laoding_text:before {
  content: '';
  display: block;
  position: absolute;
  left: -35px;
  bottom: 40%;
  height: 5px;
  width: 25px;
  background-color: #FA7F08;
}

#laoding_text:after {
  content: '';
  display: block;
  position: absolute;
  right: -35px;
  bottom: 40%;
  height: 5px;
  width: 25px;
  background-color: #FA7F08;
}

#circle1 {
  display: block;
  position: absolute;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  border: 4px solid rgba(0, 0, 0, 0.15);
  border-top: 4px #0066cc solid;
  border-bottom: 4px #FA7F08 solid;
  border-radius: 50%;
  animation: spin1 1s infinite linear;
}

@keyframes slideInLeft {
  from {
    left: -50%;
  }
  to {
    left: 50%;
  }
}

@keyframes spin1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}

/*common classes*/
.custom_container {
  max-width: 1600px;
  margin: auto;
}

/*==================================================
 * 
 * ===============================================*/
/* ==========================================================================
   HEADER Styles
   ========================================================================== */
.main-navbar {
  background-color: transparent;
}

.main-navbar--white {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.main-navbar--white .nav-item.active {
  border-radius: 25px;
  background-color: #0066cc;
}

.main-navbar--white .nav-item.active .nav-link {
  color: #fff !important;
}

.main-navbar--white .nav-link {
  color: #777 !important;
}

.main-navbar--white .nav-link:hover {
  color: #0066cc;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #fdfdfd;
  border: 1px solid #0066cc;
  border-radius: .25rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,123,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-brand img {
  height: 46px;
}

.navbar .navbar-collapse .nav-item {
  padding: 0 5px;
  margin: 0 10px;
}

.navbar .navbar-collapse .nav-item.active {
  border-radius: 25px;
  background-color: #0066cc;
}

.navbar .navbar-collapse .nav-item.active .nav-link {
  color: #fff;
}

.navbar .navbar-collapse .nav-link {
  color: #fff;
}

.navbar .navbar-collapse .nav-link:hover {
  color: #0066cc;
}

/* ==========================================================================
   MAIN Styles
   ========================================================================== */
/* Main slider*/
.carousel-item {
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.carousel-item:nth-child(1) {
  background-image: url(../imgs/slide_img1.png);
}

.carousel-item:nth-child(2) {
  background-image: url(../imgs/slide_img2.png);
}

.carousel-item:nth-child(3) {
  background-image: url(../imgs/slide_img3.png);
}

.head-text-group {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-text-group h1,
.head-text-group h3,
.head-text-group h5 {
  color: #fff;
}

.head-text-group h3 {
  font-size: 4.5rem;
  font-weight: bold;
}

.head-text-group h1 {
  font-size: 7rem;
  font-weight: bold;
}

.head-text-group h5 {
  font-size: 2.25rem;
}

/*What we do */
.what-we-do {
  position: relative;
  overflow: hidden;
  padding: 7rem 0;
}

.what-we-do:before {
  content: '';
  display: block;
  height: 100%;
  width: 90%;
  top: 0;
  left: 50%;
  position: absolute;
  transform: skewX(-20deg) translateX(-50%);
  background-color: #f8f4f5;
}

.what-we-do .section-title {
  font-size: 4.5rem;
  padding: 0 25px;
  position: absolute;
  left: 0;
  line-height: 1;
  display: inline-block;
  font-weight: bold;
}

.what-we-do .section-title > span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.what-we-do .section-title > span:last-child {
  border-bottom: 5px solid #0066cc;
}

.what-we-do .arc_shape {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.what-we-do .section-contents {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  position: relative;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.what-we-do .section-contents .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  width: 75%;
}

.what-we-do .section-contents .content .content__img img {
  width: 400px;
}

.what-we-do .section-contents .content .content__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  padding: 0 3rem;
}

.what-we-do .section-contents .content .content__info .info__title {
  font-size: 2.25rem;
  font-weight: bold;
  position: relative;
}

.what-we-do .section-contents .content .content__info .info__title:before {
  font-family: FontAwesome;
  content: url("../imgs/code_icon.png");
  position: absolute;
  left: -150px;
  top: -50px;
}

.what-we-do .section-contents .content .content__info .info_detail {
  font-size: 1.25rem;
}

.what-we-do .section-contents .content .content__info .know-more-link {
  color: #0066cc;
  font-size: 1.5rem;
  font-weight: 500;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.what-we-do .section-contents .content1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.what-we-do .section-contents .content2 {
  margin-top: 100px;
  margin-bottom: -100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-flow: row-reverse nowrap;
      flex-flow: row-reverse nowrap;
}

.what-we-do .section-contents .content2 .info__title {
  text-align: right;
}

.what-we-do .section-contents .content2 .info__title:before {
  content: url("../imgs/mobile_icon.png") !important;
  right: -150px;
  top: -50px;
}

.what-we-do .section-contents .content2 .info_detail {
  text-align: right;
}

.what-we-do .section-contents .content3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.what-we-do .section-contents .content3 .content__info .know-more-link {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.what-we-do .section-contents .content3 .info__title:before {
  content: url("../imgs/html5_icon.png") !important;
}

.what-we-do .section-contents .section-sub {
  margin-top: 50px;
  text-align: center;
}

.what-we-do .section-contents .section-sub .sub-text {
  font-size: 2rem;
  margin: 20px;
}

/*Who we are */
.who-we-are {
  padding: 100px 0 0;
}

.who-we-are .section-title {
  font-size: 4.5rem;
  padding: 0 25px;
  position: absolute;
  left: 0;
  line-height: 1;
  display: inline-block;
  font-weight: bold;
}

.who-we-are .section-title > span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.who-we-are .section-title > span:last-child {
  border-bottom: 5px solid #0066cc;
}

.who-we-are .section-contents-top {
  max-width: 1600px;
  position: relative;
  padding: 50px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.who-we-are .section-contents-top .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
}

.who-we-are .section-contents-top .content--bluebox-title {
  position: relative;
}

.who-we-are .section-contents-top .content--bluebox-title:after {
  content: 'Something Know about us';
  font-size: 1.5rem;
  width: 11rem;
  padding: 3rem 1.5rem;
  color: #fff;
  background: linear-gradient(-137deg, #0066cc, #006699);
  border-radius: 2.5rem;
  position: absolute;
  left: -6rem;
  top: 7rem;
}

.who-we-are .section-contents-top .content .video video {
  width: 28.125rem;
  height: 20.625rem;
}

.who-we-are .section-contents-top .content .article {
  padding: 0 50px;
}

.who-we-are .section-contents-top .content .article .article__title {
  font-size: 2.75rem;
  font-weight: 500;
  max-width: 37rem;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.who-we-are .section-contents-top .content .article .article__detail {
  max-width: 28rem;
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.who-we-are .section-contents-bottom {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 0;
}

.who-we-are .section-contents-bottom .arc_shape {
  position: absolute;
  left: 55%;
  transform: translateX(-40%);
  top: 0;
  height: 100%;
  z-index: 0;
}

.who-we-are .fun-facts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  height: 100%;
}

.who-we-are .fun-facts .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 75%;
  z-index: 1;
  padding-left: 25px;
}

.who-we-are .fun-facts .content .fact__count {
  font-size: 9.3rem;
  color: #330000;
  font-weight: 500;
  line-height: 1;
}

.who-we-are .fun-facts .content .fact__info {
  max-width: 34rem;
  margin-left: 2.5rem;
}

.who-we-are .fun-facts .content .fact__info .info__title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 2.4;
}

.who-we-are .fun-facts .content .fact__info .info_detail {
  font-size: 1.25rem;
  font-weight: 500;
}

.who-we-are .fun-facts .content .fact__info .fact-link {
  color: #0066cc;
  font-size: 1.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  padding: 1.25rem 0;
  cursor: pointer;
}

.who-we-are .fun-facts .content .fact__info .fact-link i {
  margin-left: 1.25rem;
  font-size: 1.9rem;
}

.who-we-are .fun-facts .fact1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.who-we-are .fun-facts .fact1 .fact__count {
  color: #330000;
}

.who-we-are .fun-facts .fact2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.who-we-are .fun-facts .fact2 .fact__count {
  color: #0066cc;
}

.who-we-are .fun-facts .fact3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.who-we-are .fun-facts .fact3 .fact__count {
  color: #FA7F08;
}

.who-we-are .our-clients {
  padding: 80px 0;
}

/*get started*/
.get-started {
  width: 100%;
  min-height: 465px;
  background-color: #FA7F08;
  background-image: url(../imgs/city.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.get-started .title {
  font-size: 3.75rem;
  color: #fff;
  font-weight: 500;
  line-height: 2;
}

/* ==========================================================================
   FOOTER Styles
   ========================================================================== */
/*Footer */
.footer-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding: 50px 25px;
}

.footer-top .logo {
  margin-right: 6rem;
}

.footer-top .contact-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1.5rem;
  color: #666;
}

.footer-top .contact-text .title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #666;
  margin: 0 1.75rem;
}

.footer-top .contact-text .phone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 1.5rem;
}

.footer-top .contact-text .phone i {
  color: #0066cc;
  padding: 0 10px;
}

.footer-top .contact-text .email {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 1.5rem;
}

.footer-top .contact-text .email i {
  color: #0066cc;
  padding: 0 10px;
}

.footer-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 50px 25px;
}

.footer-main .news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 18rem;
  width: 28rem;
  background-color: #f8f4f5;
  border-radius: 10px;
}

.footer-main .news .news__img {
  margin-right: 25px;
}

.footer-main .news .news__body {
  max-width: 16.5rem;
}

.footer-main .news .news__body .body__text {
  font-size: 1rem;
}

.footer-main .about-us .title,
.footer-main .services .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #666;
  margin-bottom: 1.5rem;
}

.footer-main .about-us ul,
.footer-main .services ul {
  list-style: none;
  padding: 0;
}

.footer-main .about-us li,
.footer-main .services li {
  font-size: 1.25rem;
  padding: 5px;
}

.footer-main .small-map {
  width: 505px;
  position: relative;
}

.footer-main .small-map .fa-map-marker {
  color: #0066cc;
  position: absolute;
  font-size: 26px;
}

.footer-main .small-map .marker1 {
  top: 53px;
  left: 58px;
}

.footer-main .small-map .marker2 {
  top: 79px;
  left: 109px;
}

.footer-main .small-map .marker3 {
  top: 112px;
  right: 154px;
}

.footer-bottom {
  text-align: center;
  font-size: 1.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 1.5rem 0;
  background-color: #f8f4f5;
}

.footer-bottom i {
  font-size: 1.75rem;
  color: #0066cc;
  margin: 0 1.25rem;
}

.footer-copyright {
  padding: 25px 50px;
  color: #666;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.footer-copyright .first_part > span {
  font-weight: bold;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 575.98px) {
  .first_part {
    text-align: center;
  }
  .navbar .navbar-brand img {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .head-text-group h3 {
    font-size: 2rem;
  }
  .head-text-group h1 {
    font-size: 5.5rem;
  }
  .head-text-group h5 {
    font-size: 1.5rem;
  }
  .what-we-do .section-contents .content {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
  .what-we-do .section-contents .content .content__info .info__title:before {
    display: none;
  }
  .what-we-do .section-contents .content2 .info__title,
  .what-we-do .section-contents .content2 .info_detail {
    text-align: left;
  }
  .what-we-do .section-contents .content3 .content__info .know-more-link {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .who-we-are .fun-facts .content {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
  .who-we-are .fun-facts .content .fact__info {
    margin-left: 0;
  }
  .who-we-are .fun-facts .content .fact__info .info__title {
    line-height: 1.5;
  }
  .who-we-are .section-contents-bottom {
    padding: 50px 0;
  }
  .footer-main .news {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer-copyright {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    background-color: #333;
  }
  .main-navbar--white .navbar-nav {
    background-color: transparent;
  }
}

@media (max-width: 1199.98px) {
  .footer-main .small-map {
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
  }
  .who-we-are .section-contents-top .content--bluebox-title:after {
    display: none;
  }
  .what-we-do .section-title, .who-we-are .section-title {
    position: relative;
    margin: auto;
    margin-bottom: 100px;
  }
  .what-we-do .section-title > span, .who-we-are .section-title > span {
    display: inline-block;
  }
  .who-we-are .section-title {
    margin-bottom: 50px;
  }
  .what-we-do .section-contents .content1,
  .what-we-do .section-contents .content2,
  .what-we-do .section-contents .content3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .what-we-do .section-contents .content2 {
    margin-bottom: 100px;
  }
  .who-we-are .section-contents-top {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-align: center;
        align-items: center;
  }
  .who-we-are .section-contents-top .content {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-align: center;
        align-items: center;
  }
  .who-we-are .section-contents-top .content .article {
    text-align: center;
  }
  .who-we-are .section-contents-top .content .article .article__title {
    margin-top: 25px;
    max-width: 100%;
    text-align: center;
  }
  .who-we-are .section-contents-top .content .article .article__detail {
    max-width: 100%;
    text-align: center;
  }
  .who-we-are .fun-facts .fact1, .who-we-are .fun-facts .fact2, .who-we-are .fun-facts .fact3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer-top {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer-top .logo {
    display: none;
  }
  .footer-top .contact-text {
    -ms-flex-pack: center;
        justify-content: center;
  }
}

/* Extra media Queries*/
@media only screen and (max-width: 1280px) {
  .arc_shape {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1600px) {
  .who-we-are .section-contents-top .content--bluebox-title {
    position: relative;
  }
  .who-we-are .section-contents-top .content--bluebox-title:after {
    content: 'Something Know about us';
    font-size: 3rem;
    width: 20rem;
    padding: 3rem 2rem;
    color: #fff;
    background: linear-gradient(-137deg, #0066cc, #006699);
    border-radius: 2.5rem;
    position: absolute;
    left: -13rem;
    top: 0;
  }
}
