/* ==========================================================================
   BASE Styles
   ========================================================================== */
//Variables
$vs_blue:#0066cc;
$vs_orange:#FA7F08;



/* Typography */
html,body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

/*srollbar*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #eee;
   
}

::-webkit-scrollbar-thumb {
    background-color: $vs_blue;
    height:50px;
    border-radius: 50%;
} 
/* components */
.cta-btn{
    border:none;
    outline: none !important;
    font-size: 25px;
    padding: 10px 50px;
    border-radius: 36px;
    cursor: pointer;

    @at-root #{&}--orange{
        background-color:$vs_orange;
        color:#fff;
    }
    @at-root #{&}--blue{
        background-color:$vs_blue;
        color:#fff;
    }

} 


/* normal button style */
.btn--shine {
    overflow: hidden;
    position: relative;
}

/* button hover style if required */
.btn--shine:hover {
    
}
/* generated element for shine effect.
 * normal state is semi-transparent
 * white but with zero width. Set no
 * transition here for no mouse-leave
 * animations. Otherwise the effect
 * will play in reverse when your mouse
 * leaves the element
 */
.btn--shine:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    
}
/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out 
 */
.btn--shine:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
