/* ==========================================================================
   FOOTER Styles
   ========================================================================== */
/*Footer */ 

.footer-top{

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 50px 25px;
    .logo{
        margin-right: 6rem;
    }
    .contact-text{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        font-size: 1.5rem;
        color:#666;
        .title{
            font-size: 1.75rem;
            font-weight: bold;
            color:#666;
            margin: 0 1.75rem;
        }
        .phone{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 0 1.5rem;
            i{
                color:$vs_blue;
                padding: 0 10px;
            }
        }
        .email{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 0 1.5rem;
            i{
                color:$vs_blue;
                padding: 0 10px;
            }
        }
    }
}


.footer-main{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px 25px;
    .news{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        height: 18rem;
        width: 28rem;
        background-color: #f8f4f5;
        border-radius: 10px;
        .news__img{
            margin-right: 25px;
        }
        .news__body{
            max-width: 16.5rem;
            .body__text{
                font-size: 1rem;
            }
            a{

            }
        }
    }
    .about-us,.services{
        .title{
            font-size: 1.5rem;
            font-weight: bold;
            color:#666;
            margin-bottom: 1.5rem;            
        }
        ul{
            list-style: none;
            padding: 0;

        }
        li{
            font-size: 1.25rem;
            padding: 5px;
        }
    }
    .small-map{
        max-width: 450px;
    }
}

.footer-bottom{    
    text-align: center;
    font-size: 1.25rem;   
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: #f8f4f5;
    i{
       font-size: 1.75rem;
       color:$vs_blue; 
       margin: 0 1.25rem;
    }
}

.footer-copyright{
    padding: 25px 50px;
    color:#666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .first_part{
        >span{
            font-weight: bold;
        }
    }

}
